:root {
    --bg-pink: #fce5f7;
    --bg-main: #fad1e6;
    --purple: #8b50f1;
    --gradient-1: linear-gradient(to right, #7c3aed 0%, #ec4899 100%);
    --gradient-2: linear-gradient(90deg, #8b50f1 0%, #a78bfa 50%, #c4b5fd 100%);
    --gradient-3: linear-gradient(135deg, rgba(99, 102, 241, 0.1), rgba(139, 92, 246, 0.1));
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0a0b23;
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;

}

/* NAVBAR */
.header {
    font-weight: 700px;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: 0e172a;
    height: 80px;
    border-bottom: rgba(167, 139, 250, 0.5) solid 1px;


}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;



}

.navbar a {
    margin: 0 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
    box-shadow: 0 5px 20px rgba ()
}

.navbar a:hover {
    font-weight: 500px;
    border-top: 3px solid #6f41d4;
    border-radius: 2px;
    padding-top: 4px;
    transition: 0.4s;
    color: #c3b3fd;

}

/* HERO */
.hero {
    padding-bottom: 220px;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    height: 400px;
}

/* TEXTO HERO */
.hero-text h1 {
    line-height: 1.2;
}

/* TEXTO MENOR */
.hero-text .intro {
    display: block;
    font-size: 2.5rem;
    font-weight: 800;
    color: #ffffff;
}

/* NOME GRANDE COM GRADIENTE */
.hero-text .nome {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    background: var(--gradient-2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hero-text p {
    margin-top: 20px;
    margin-bottom: 25px;
    color: #ffffff;
}

/* BOTÃO */
.btn-primary {
    display: inline-block;
    padding: 12px 24px;
    background: var(--gradient-1);
    color: white;
    text-decoration: none;
    border-radius: 16px;
    font-weight: 600;
    transform: translateY(-10px);
    cursor: pointer;

}

.btn-primary:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(99, 102, 241, 0.4);
    transition: 0.3s;
}

/* CARD */
.hero-card .card {
    background: var(--gradient-1);
    padding: 30px;
    border-radius: 24px;
    text-align: center;
    height: 400px;
    border-bottom: 5px solid #ffff;
    border-left: 5px solid #ffff;
}


.hero-card img {
    width: 200px;
    height: 200px;
    border-radius: 16px;
    margin-bottom: 15px;
    border: 5px solid rgba(255, 255, 255, 0.1);
    /* Borda sutil para destacar a imagem, veri */
}

.hero-card .card .nome {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.hero-card span {
    color: #ffffff;
    padding: 10px;
    border-radius: 16px;
}


/* TAG */
.tag {
    width: fit-content;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    /* branco semi-transparente */
    backdrop-filter: blur(10px);
    /* efeito de desfoque */
    -webkit-backdrop-filter: blur(10px);
    /* suporte Safari */
    border-radius: 24px;
    /* bordas arredondadas */
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* borda sutil */
    padding: 2rem;
    /* espaçamento interno */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    /* sombra suave */
    align-items: center;
}

/* INFO BOX */
.info-box {
    color: #ffffff;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    /* branco semi-transparente */
    backdrop-filter: blur(10px);
    /* efeito de desfoque */
    -webkit-backdrop-filter: blur(10px);
    /* suporte Safari */
    border-radius: 24px;
    /* bordas arredondadas */
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* borda sutil */
    padding: 2rem;
    /* espaçamento interno */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    /* sombra suave */
}

/* SECTIONS */
.section {
    padding-bottom: 50px;
}

.title {
    font-size: 1.3rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* CARDS */
.card-glass {
    background: #121212;
    padding: 25px;
    border-radius: 12px;
    text-align: left;
    border-top: 2px solid #e4479f;
    color: #eee;
    /* ADICIONAR UM TRANSFORM AQUI DEPOIS */
}

/* TIMELINE */
/* TIMELINE */
.journey-timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;          
    max-width: 1200px;    
    margin: 0 auto;       
    color: #ffffff;
    padding-left: 0px;
    /* espaço pra linha + bolinha */
}

/* LINHA À ESQUERDA */
.journey-timeline::before {
    content: '';
    position: absolute;
    left: 38px; /* posição da linha */
    top: 0;
    bottom: 0;
    width: 2px;
    background: var(--gradient-1);
    height: 680px;
}

/* ITEM */
.timeline-item {
    position: relative;
    margin-bottom: 50px;
    display: flex;
    gap: 14px;
    justify-content: space-between;
    
}

/* REMOVE o zig-zag */
.timeline-item:nth-child(odd),
.timeline-item:nth-child(even) {
    flex-direction: initial;
}

/* BOLINHA (ANO) */
.timeline-year {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--gradient-1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    box-shadow: 0 10px 30px rgba(99, 102, 241, 0.4);
    margin-right: 80px;
}

/* CONTEÚDO */
.timeline-content {
    margin-left: 70px; /* espaço da bolinha */
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
}

/* REMOVE espaçamentos antigos */
.timeline-item:nth-child(odd) .timeline-content,
.timeline-item:nth-child(even) .timeline-content {
    margin-right: 0;
    margin-left: 120px;
}

/* SKILLS */
.skills {
    text-align: center;
    color: #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.skill-box {
    background: var(--gradient-1);
    padding: 20px;
    border-radius: 12px;
}

.tags span {
    display: inline-block;
    background: #eee;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 6px;
}

/* FOOTER */
footer {
    padding: 40px 0;
    text-align: center;
    background: #111;
    color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social a {
    margin-left: 10px;
    color: white;
}

.copy {
    margin-top: 20px;
    font-size: 0.9rem;
}